node_modules/
build/
compile_commands.json
lib/
download/
dist/
deps/steamworks*
test/steam_appid.txt
steam_appid.txt
*.pyc
*.swp
*.dylib
*.node
.DS_Store
npm-debug.log

# was not tracked by git in original repo - easier to manully ignore
package-lock.json